body {
    width: 75%;                   /* change to 50% */
    margin: auto;
    margin-top: 20px;
    background-color: lightgray;
    font-size: x-large;
    font-family: sans-serif;
}
input {
    font-size: x-large;
}
button {
    font-size: x-large;
}
#result {
    padding: 3px;
    font-size: xx-large;
}
.tooBig {
    background-color: pink;
    color: blue;
}
.tooSmall {
    background-color: lightblue;
    color: blue;
}
.tooMany {
    background-color: red;
    color: black;
}
.justRight {
    background-color: lightgreen;
    color: green;
}